@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100;1,500&display=swap');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
body{overflow-x: hidden;font-family: 'Poppins', sans-serif;margin: 0;}
*{outline: none;}
div::selection{background-color: #fff;}

.container{
    width: 80%;
    min-width: 768px;
    height: 50vh;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    overflow-x: scroll;
}
.container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.container::-webkit-scrollbar-thumb {
    background: #bbbbbbc7;
    border-radius: 15px;
    transition: 0.7s;
}
.container::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 0px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.regua {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-size: 100% 100%;
    position:absolute;
    letter-spacing: 12px;
}

#referencia{
    background-image: url(./src/referencia_regua.png);
    height: 100%;
}
input{
    width: 60px;
}
#move {
    width: 100%;
    background-image: url(./src/movel_regua.jpg);
    height: 27.2846153%;
    top: 38.6153846%;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#move:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
#marcador{
    height: 100%;
    width: 5px;
    left: 284px;
    z-index: 5;
    position: absolute;
    opacity: 0.2;
    background-color: #a9172e;
}
.frame{
    color: #2f2929;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 6px 6px 1px 0 rgb(169 23 46 / 57%);
    border-radius: 10px;
    border: 1px solid rgb(243 49 80);
    width: 78%;
    padding: 20px;
    margin: 25px auto;
}


button{
    background-color: #fff;
    border: 2px solid #f33150;
    border-radius: 8px 0px;
    cursor: pointer;
    transition: .3s;
    float: right;
    margin: 5px 10px;
}
button:hover{
    background-color: #f33150;
    color: #fff;
    border-radius: 0px 8px;    
}
.operacoes{
    display: flex;
    justify-content: space-between;
}
.conjunto{display: inline;margin-right: 20px; width: 23%;}
.conjunto > p {width: 100%;margin: 0;padding: 0;}
input{
    border: 2px solid #ec2443;
    border-width: 0px 0px 2px;
    width: auto;
}
.botoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 217px;
    width: 23%;
}
#video{
    background: #c5102b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
#video .apresentacao{
    width: 100%;
    text-align:  center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
}
#video iframe{ 
    width: 34%;
    height: 64%;
    border: 5px solid white;
    margin-top: -5rem;
    box-shadow: 13px 13px 17px rgba(0,0,0,0.6);;
}
#video .apresentacao p {
    user-select: none;
}